* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    overflow-x: hidden;
}

.col-pdg {
    padding: 0px 15px;
}

/* hider navbar */

.side-menu{
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
    z-index: 9999;
    background: #fff;
    transform: translate3d(100%, 0, 0);
    transition: transform .5s ease;
    position: fixed;
    overflow: hidden;
}
.side-menu-active{
    transform: translate3d(0, 0, 0);
    display: none;
}
.inner{
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.s-logo{
    position: absolute;
    top: 20px;
}
.s-nav{
    margin-bottom: 0;
}
.s-nav ul{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}
.s-nav ul li {
    opacity: 0;
    margin: 10px 0;
    padding: 0 !important;
}
.side-menu-active .s-nav ul li {
    transform: translateY(0);
    opacity: 1;
}
.s-nav ul a {
    color: #011321;
    padding: 2px 0 3px 0 !important;
    font-size: 28px;
    line-height: normal;
    position: relative;
    border-radius: 0;
    text-decoration: none;
    font-family: 'Prata', serif;
    margin-left: 0;
}
.i-con {
    color: black;
    font-size: 30px;
    margin: 25px 25px 0 0;
}
#text1{
    display: flex;
    justify-content: end;
}


/* navbar */

.nav-bg {
    background-color: #fff;
}

.nav-link:hover {
    transition: 0.8s;
    border-bottom: 1px solid #222;
}

.nav-p {
    padding: 20px 0px 20px 0px;
}

.nav-item {
    font-family: 'Prata', serif;
    padding-left: 20px;
}

.icon-bg {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    margin: 3px;
    text-align: center;
    padding-top: 8px;

}

.icon-bg:hover {
    background-color: black;
    color: white;
    transition: 0.5s ease;
}


/* about img-fix 1 */

.header-about-img {
    background-image: url(../img/blog-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    position: relative;
}

.overlay {
    position: absolute;
    top: -1px;
    left: 0;
    right: -1px;
    bottom: -1px;
    background-color: #ffffffb0;
    z-index: 11;
}



/* main blog 2 */

.col-pdg {
    padding: 0 15px;
}

.search_outerbox {
    background-color: #f6f6f6;
    width: auto;
    height: auto;
}

.input-group {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 38px;
}

.btn-search {
    background-color: #222;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #222;
    animation: 0.8s ease;
}

.btn-search:hover {
    color: #222;
    background-color: #fff;

}

.topic_outerbox {
    height: auto;
    width: auto;
    background-color: #f6f6f6;
    padding-bottom: 12px;
}

.topic_outerbox h2 {
    color: #222;
    font-size: 26px;
    padding-left: 42px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Prata', serif;
}

.inner-box {
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}

.topic_outerbox ul {
    list-style: none;
    padding: 0;
    margin: 0 0 25px;
}

.topic_outerbox ul li {
    text-decoration: none !important;
    color: #222;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: normal;
    overflow: hidden !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.topic_outerbox li a {
    text-decoration: none;
    color: black;
    padding-right: 5px;
}

.dots {
    letter-spacing: 6.5px;
    font-size: 16px;
    font-weight: normal;
}

.outer_popular {
    height: auto;
    width: auto;
    background-color: #f6f6f6;
    padding-bottom: 35px;
}

.outer_popular h2 {
    color: #222;
    font-size: 26px;
    padding-left: 42px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Prata', serif;
}

.outer {
    margin-right: 13%;
    margin-left: 13%;
}

.display {
    display: flex;
}

.popular_image {
    height: 100%;
    width: 35%;
}

.popular_image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.text_post {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: auto;
}

.main {
    color: #222;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s ease;
    line-height: 18px;
    letter-spacing: 0;
    font-family: 'Prata', serif;
}

.date {
    color: gray;
    font-size: 14px;
    margin-bottom: 4px;
    font-family: 'Raleway', sans-serif;
}

.text_post span {
    color: #222;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: .2s ease;
    letter-spacing: 0;
    font-family: 'Prata', serif;
}

.outer_tag {
    height: auto;
    width: auto;
    background-color: #f6f6f6;
    padding-bottom: 30px;
}

.outer_popular {
    height: auto;
    width: auto;
    background-color: #f6f6f6;
    padding-bottom: 35px;
}

.main_tag {
    color: #222;
    font-size: 26px;
    padding-left: 42px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Prata', serif;
}

.inner_tag {
    margin-left: 13%;
    margin-right: 13%;
}

span {
    display: unset;
}

.tag_text a {
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    color: #222;
    border: solid 1px #ced4da;
    padding: 7px 15px 7px 15px;
    margin-top: 9px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.tag_text a:hover {
    border: solid 1px #222;
    color: #fff;
    background: #222;
    transition: 0.8s;

}

.topic_outerbox {
    height: auto;
    width: auto;
    background-color: #f6f6f6;
    padding-bottom: 12px;
}

.topic_outerbox {
    height: auto;
    width: auto;
    background-color: #f6f6f6;
    padding-bottom: 12px;
}

.topic_outerbox h2 {
    color: #222;
    font-size: 26px;
    padding-left: 42px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Prata', serif;
}

.inner-box1 {
    margin-left: 12%;
    margin-right: 13%;
    text-align: center;
}

.sale_img {
    max-width: 100%;

}

.sub-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
}

.sub-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.blog_detail-heading {
    font-size: 26px;
    font-family: 'Prata', serif;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 16px;
    line-height: 26px;
}

.text_dummy {
    color: #222;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    letter-spacing: 0.2px;
    font-weight: 500;
    line-height: 26px;
}

.sub-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;

}

.ul-icon li i {
    font-size: 5px;
    padding-right: 10px;

}

.img_blog2 {
    width: 100%;
    margin: 30px 0 30px 0;
}
.quote_text {
    margin-bottom: 20px;
}
.quote_text .quote {
    font-style: italic;
    font-size: 24px;
    transition: .2s ease;
    cursor: pointer;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: right;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.verticle_lineQ {
    width: 2.3px;
    height: 75px;
    background-color: #222;
    text-align: right;
    margin-top: -87px;
    margin-left: 44.7rem;
}
.blogN_images img {
    width: 100%;
    vertical-align: middle;
}
.divider1 {
    border: 0.5px solid #dbdbdb;
    margin-top: 3rem;
}
.written_outerbox {
    height: auto;
    width: auto;
    background-color: #f6f6f6;
}
.display {
    display: flex;
}
.written_img {
    width: 20%;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.written_text {
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: auto;
}
.date {
    color: gray;
    font-size: 14px;
    margin-bottom: 4px;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 25px;
}
.main_written {
    font-size: 24px;
    font-family: 'Prata' , serif;
}
p:last-child {
    margin-bottom: 0;
}
.sub-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.icon_comment {
    display: flex;
    margin-top: 50px;
}
.user_icon {
    color: white;
    font-size: 60px;
    background: #f6f6f6;
    width: 90px;
    height: 90px;
    padding-top: 13px;
    padding-bottom: 15px;
    border-radius: 50px;
    padding-left: 19px;
    padding-right: 15px;
}
.icon_text {
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 20px;
}
.font {
    font-size: 21px;
    font-family: 'Prata' , serif;
}
.date {
    color: gray;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.comment_text {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto' , sans-serif;
    margin: 70px 0 48px 0;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
textarea.form-control {
    height: auto;
}
.trans-btn {
    background-color: transparent;
    color: #222;
    border: 1px solid #222;
    padding: 12px 20px !important;
    font-size: 13px !important;
    box-shadow: none;
    outline: none;
    font-family: 'Prata' , serif;
    line-height: 17px !important;
    font-weight: bold;
    transition: 0.5s ease;
}
.trans-btn:hover{
    color: #fff;
    background-color: #222;
}
.row-pdg{
    padding: 48px 0 48px 0;
}


/* footre */

.footer {
    padding-top: 75px !important;
    border-top: 0.5px solid #222222a8;
}
.footer-ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 0 25px;
}
.icon-hover {
    display: inline-block;
    margin-right: 10px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    padding-top: 12px;
    transition: 0.5s ease;
}
p:last-child {
    margin-bottom: 0;
}
.footer-text {
    text-align: center;
    padding-bottom: 60px;
}
.icon-hover:hover {
    color: #fff;
    background-color: black;
    transition: 0.6s;
}




@media (max-width:992px){
    .verticle_lineQ {
        margin-left: 36.7rem;
    }
}
@media (max-width:991px) {
    .collapse:not(.show) {
        display: flex;
    }
    .navbar>.container{
        flex-wrap: nowrap;
    }
}
@media (max-width:768px) {
    .collapse:not(.show) {
        display: flex;
    }
    .navbar>.container{
        flex-wrap: nowrap;
    }
    .nav-item {
        padding-left: 28px;
    }
    .col-4 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .sale_img {
        width: 100%;
        margin: 24px 0;
    }
    .search_outerbox {
        margin-top: 24px;
    }
    .verticle_lineQ {
        margin-left: 39.7rem;
    }
    .footer-text {
        font-size: 15px;
    }
    .container-fluid{
        padding: 0 15px;
    }
}
@media (max-width:767px) {
    .navbar-nav:not(.show) {
        display: none !important;
    }

    .collapse:not(.show) {
        display: none;
    }

    .my-tog-btn {
        display: grid;
        padding-top: 11px;
        width: 35px;
        height: auto;
        margin-left: 20px;
    }

    .my-tog-btn span {
        background-color: #222;
        margin-bottom: 10px;
        height: 2px;
        width: 100%;
    }
    .side-menu-active{
        display: none;
    }
}
@media (max-width:576px) {
    .bg-choose-img {
        height: 1127.38px;
    }
    .col-pdg{
        padding: 0;
    }
    .col-6 {
        width: 100%;
    }
    .quote_text .quote {
        font-size: 21px;
        text-align: center;
    }
    .verticle_lineQ{
        display: none;
    }
    .pe-1 {
        padding: 10px!important;
    }
    .ps-1 {
        padding: 10px!important;
    }
    .pt-2 {
        padding: 10px!important;
    }
    .row-pdg {
        padding: 48px 0 24px 0;
    }
    .sale_img {
        width: 100%;
        margin: 24px 0;
    }
    .footer-text {
        font-size: 12px;
    }
    .icon_comment {
        justify-content: center;
    }
    .sub-heading {
        text-align: center;
    }
    .display {
        display: block;
        padding: 25px 0;
    }
    .written_img {
        width: 40%;
        margin: 0 0 30px 170px;
    }
    .written_text {
        text-align: center;
    }
    .text_post {
        padding-left: 0px;
        margin-top: 20px;
    }

}
@media (max-width: 475px) {
    .footer {
        padding: 50px 0 0 0;
    }

    .footer-text {
        padding-bottom: 50px;
    }

    .icon-hover {
        margin: 0;
    }
    .header-about-img {
        height: 300px;
    }
}
@media (max-width:425px){
    .written_img {
        margin: 0 0 30px 125px;
    }
    .quote_text .quote{
        width: 323px;
        font-size: 16px;
    }
    .text_post {
        padding-left: 0px;
        margin-top: 20px;
    }
}
@media (max-width:375px){
    .quote_text .quote {
        font-size: 14px;
    }
    .written_img {
        margin: 0 0 30px 106px;
    }

}
@media (max-width: 320px){

    .quote_text .quote {
        width: 262px;
    }
}



